%nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
  .container
    %p.navbar-text.navbar-right
      %a.navbar-link(href="javascript:void(0)" onclick="logout()" )退出

.margin-top-100
  %h1 User#index
  %p你好，#{@account}


